body {
    padding: 0 !important;
    margin: 0 !important;
}
.general{
    float: left;
    display: block;
    padding: 0;
    margin: 0;
}
.caja{
    max-width: 100%;
    margin: 0 auto;
    float: none;
    display: block;
}
.txt{
    text-align: center;
}
.center{
    margin: 0 auto;
    float: none;
}
/* imágenes*/
.logo{
    max-width: 100%;
    /*position: fixed;*/
    top: 0;
}
.background-img1{
    background-image:url(../img/pexels-photo-179734.jpeg);
    background-size: 1500px;
    background-repeat: no-repeat;
}
.background-img2{
    background-image:url(../img/Montaña1.png);
    background-size: 1500px;
    background-repeat: no-repeat;
}
.background-img3{
    background-image:url(../img/Montaña2.png);
    background-size: 1300px;
    background-repeat: no-repeat;
}
.background-img4{
    background-image:url(../img/explosion-color.png);
    background-size: 1300px;
    background-repeat: no-repeat;
}
.background-img5{
    background-image:url(../img/pexels-photo-268435.jpeg);
    background-size: 1300px;
    background-repeat: no-repeat;
    opacity: .8;
}
.background-img6{
    background-image:url(../img/pexels-photo-164642.jpeg);
    background-size: 1305px;
    background-repeat: no-repeat;
}

/* Barra de menú*/
.nav{
    /*position: fixed;*/
    top: 0;
    width: 70%;
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color:#19599d;
    text-align: center;
    padding: 26px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* Cambio de color on hover */
li a:hover {
    background-color: #19599d;
    color:white;
}
/*telefono*/
.telefono{
    background-color:#19599d;
    opacity: 0.4;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color:white;
    text-align: right;
    font-family: 'Montserrat',sans-serif;
}
.txt1{
    padding-right: 30px;
}

/* Sección 1 */
h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 80px;
    padding-left: 30px;
    color:#19599d;
    line-height: .8;
    margin-bottom: 0;
}
.p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-left: 30px;
    color:white;
    line-height: 1;
    margin-top: 0;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color:#19599d;
    line-height: .9;
    margin-bottom: 10px;
    padding-left: 30px;
    text-align: left;
}
button{
    background-color: #19599d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
    background-color: white; 
    color: #19599d;
}
/* Sección 2 */
.ques{
    font-family: 'Montserrat',sans-serif;
    font-size: 80px;
    color:white;
    padding-top:50px;
    float: right
}
.p2{
    text-align: justify;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
    padding: 70px;
}

/*Sección 3 */
.h4{
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
    color:white;
    text-shadow: 2px -3px 10px rgb(37, 37, 37);
    margin-bottom: 0;
    line-height: 1.2;
}
.p3{
    text-align: center;
    color: #2e2c27;
    font-family: 'Montserrat',sans-serif;
    font-size: 40px;
    line-height: .8;
}
.p4{
    text-align: justify;
    color: #2e2c27;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

/*Sección 4 */
.terapia{
    padding-left: 10px;
    padding-top: 10px;
}
.terapia-titulo{
    text-align: center;
    color: #2e2c27;
    font-family: 'Montserrat',sans-serif;
    font-size: 40px;
}
.p5{
    text-align: justify;
    color: #2e2c27;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.call-to-action {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color:white;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

/*Sección 5*/
.logro{
    text-align: left;
    color: #2e2c27;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

/*Formulario*/
.mensaje-final{
    text-align: justify;
    color: #2e2c27;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.pad{
    padding-top: 220px;
}
.h3{
    text-align: center;
    color: #8d2121;
    font-family: 'Montserrat',sans-serif;
    font-size: 40px;
}

input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
select {
    width: 90%;
    margin: 9px 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
    font-size: 14px;
    background: white;
    border: none;
    height: 42px;
    padding: 5px;
 }
 focus{ 
     outline: none;
    }
.formulario {	
    border:1px solid #d9d9d9;
    height:42px;
    overflow: hidden;
    position:relative;
}
.formulario::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #19599d;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form {
    padding: 20px;
    margin: 0 auto;
    float: none;
    display: block;
}

/*Footer*/

.footer-distributed{
	background-color: #19599d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color: white;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}
.unam{
    width: 100px;
    height: 100px;
}
.uam{
    width: 110px;
    height: 70px;
}
.cita{
    text-align: left;
    color: white;
    font-size: 30px;
}
/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
    margin-bottom: 5px;
}


/* Width */
.w100{
    width: 100%;
}
.w10{
    width: 10%;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}

/* Altos */
.hg05{
    height: 50px;
}
.hg07{
    height: 70px;
}
.hg2{
    height: 200px;
}
.hg3{
    height: 300px;
}
.hg4{
    height: 400px;
}
.hg5{
    height: 500px;
}
.hg6{
    height: 600px;
}
.hg9{
    height: 900px;
}

/* Backgrounds */

.blue{
    background: #aac2db;
}
.dark-blue{
    background:#19599d;
}

